# Some things that must be pip installed on Github to build the jupyter book
matplotlib
numpy
scipy
ghp-import
netCDF4
cloudpathlib
folium
pyvista
ipykernel
jupyter-book
notebook
ipywidgets
ffmpeg
meson
